p,
label {
  font-family: "Mulish";
  font-size: small;
}

.dir-rtl {
  direction: rtl;
  font-family: "Amiri";
}

.btn-blue {
  background-color: #10a3fe !important;
  color: #fff;
  padding: 5px;
  border: 0px groove #10a3fe;
  border-radius: 5px;
}
