<div class="row justify-content-center">
  <div class="col-lg-2 col-md-2 col-sm-3">
    <div class="card card-stats shadow border roundeded">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 col-sm-12 d-flex align-items-center">
            <div class="icon-big text-center">
              <i class="fa fa-list-alt fa-3x" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="numbers">
              <p class="card-category fs-6 fw-bold">Fatwas</p>
              <p class="card-title fs-5 fw-bold">
                {{ dashboardDetails?.total || 0 | number }}
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-3">
    <div class="card card-stats shadow border roundeded">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4 d-flex align-items-center">
            <div class="icon-big text-center">
              <i class="fa fa-edit fa-3x text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category fs-6 fw-bold">Answered</p>
              <p class="card-title fs-5 fw-bold">
                {{ dashboardDetails?.answered || 0 | number }}
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-3">
    <div class="card card-stats shadow border roundeded">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4 d-flex align-items-center">
            <div class="icon-big text-center text-warning">
              <i class="fa fa-clock-o fa-3x icon-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category fs-6 fw-bold">Pendings</p>
              <p class="card-title fs-5 fw-bold">
                {{ dashboardDetails?.pending || 0 | number }}
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-3">
    <div class="card card-stats shadow border roundeded">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4 d-flex align-items-center">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-close fa-3x text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category fs-6 fw-bold">Rejected</p>
              <p class="card-title fs-5 fw-bold">
                {{ dashboardDetails?.rejected || 0 | number }}
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-5">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Short Question</th>
        <th scope="col">Madhab</th>
        <th scope="col">Category</th>
        <th scope="col">Status</th>
        <th scope="col">Language</th>
      </tr>
    </thead>

    <tbody *ngIf="userQuestionList.length; else noDataAvailable">
      <tr
        *ngFor="let item of userQuestionList"
        [routerLink]="['/user-home/question-details', item.id]"
      >
        <td>{{ item?.id }}</td>
        <td>{{ item?.short_question }}</td>
        <td>{{ item?.madhab?.title }}</td>
        <td>{{ item?.sub_category?.title }}</td>
        <td>
          <span
            [ngClass]="{
              pending: item?.status?.id == 1,
              rejected: item.status?.id == 2,
              recievedToDI: item?.status?.id == 4,
              assMufthi: item?.status?.id == 5,
              mufthiAns: item.status?.id == 6,
              completeVerification: item.status?.id == 7,
              published: item.status?.id == 8
            }"
          >
            {{ item?.status?.title }}
          </span>
        </td>

        <td>{{ item?.language?.title }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #noDataAvailable>
    <tr>
      <td colspan="7">
        <app-no-data-available></app-no-data-available>
      </td>
    </tr>
  </ng-template>
</div>
