<div class="row justify-content-center">
  <div class="col-lg-3 col-md-3 col-sm-3">
    <div class="card card-stats shadow border roundeded">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4 d-flex align-items-center">
            <div class="icon-big text-center">
              <i class="fa fa-list-alt fa-3x" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category fs-6 fw-bold">Total Fatwas</p>
              <p class="card-title fs-5 fw-bold">
                {{ dashboardDetails?.total || 0 | number }}
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <div class="card card-stats shadow border roundeded">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4 d-flex align-items-center">
            <div class="icon-big text-center">
              <i class="fa fa-edit fa-3x text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category fs-6 fw-bold">Answered</p>
              <p class="card-title fs-5 fw-bold">
                {{ dashboardDetails?.answered || 0 | number }}
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <div class="card card-stats shadow border roundeded">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4 d-flex align-items-center">
            <div class="icon-big text-center text-warning">
              <i class="fa fa-clock-o fa-3x icon-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category fs-6 fw-bold">Pendings</p>
              <p class="card-title fs-5 fw-bold">
                {{ dashboardDetails?.pending || 0 | number }}
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <div class="card card-stats shadow border roundeded">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4 d-flex align-items-center">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-close fa-3x text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category fs-6 fw-bold">Rejected</p>
              <p class="card-title fs-5 fw-bold">
                {{ dashboardDetails?.rejected || 0 | number }}
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-4">
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Short Question</th>
        <th scope="col">Madhab</th>
        <th scope="col">Category</th>
        <th scope="col">Status</th>
        <th scope="col">Language</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody *ngIf="userQuestionList.length; else noDataAvailable">
      <tr *ngFor="let item of userQuestionList">
        <td>{{ item?.id }}</td>
        <td>{{ item?.short_question }}</td>
        <td>{{ item?.madhab?.title }}</td>
        <td>{{ item?.sub_category?.title }}</td>
        <td>
          <span [ngClass]="{ 'warning-status': item?.status.id === 1 }">
            {{ item?.status?.title }}
          </span>
        </td>

        <td>{{ item?.language?.title }}</td>
        <td>
          <span
            class="btn btn-primary btn-sm"
            [routerLink]="['/user-home/question-details', item.id]"
          >
            View
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noDataAvailable>
    <tr>
      <td colspan="7">
        <app-no-data-available></app-no-data-available>
      </td>
    </tr>
  </ng-template>
</div>
