<div class="container mt-5 border rounded p-5 shadow my-5">
  <div>
    <h4>
      Details :-
      <span class="fs-6 mx-3"> {{ userQuestionDetails?.status?.title }}</span>
    </h4>
    <hr class="w-25 mb-5" />
  </div>

  <div class="row">
    <div class="col">
      <label class="form-label fw-bold">Category</label>
      <p class="col-md-4 mt-3">
        {{ userQuestionDetails?.category?.title }}
      </p>
    </div>
    <div class="col">
      <label for="exampleInputEmail1" class="form-label">Madhab</label>
      <p class="col-md-4 mt-3">
        {{ userQuestionDetails?.madhab?.title }}
      </p>
    </div>
    <div class="col">
      <label for="exampleInputEmail1" class="form-label">Language</label>
      <p class="col-md-4 mt-3">
        {{ userQuestionDetails?.language?.title }}
      </p>
    </div>
  </div>
  <hr />
  <div class="my-5">
    <div class="my-3">
      <label for="exampleInputEmail1" class="form-label">Short Question</label>
      <p class="mt-3">
        {{ userQuestionDetails?.short_question }}
      </p>
    </div>

    <div class="my-5">
      <label for="exampleInputPassword1" class="form-label"
        >Long Question</label
      >
      <p class="mt-3">
        {{ userQuestionDetails?.question }}
      </p>
    </div>
  </div>
  <div class="my-5">
    <div class="my-3">
      <label for="exampleInputEmail1" class="form-label">Answer </label>
      <p class="mt-3">
        {{ answerDetails?.answer }}
      </p>
    </div>
  </div>
  <hr />
  <div *ngIf="userQuestionDetails?.mufti_answered !== 0" class="row">
    <div class="col">
      <label for="exampleInputEmail1" class="form-label">Answered By</label>
      <p>
        {{ userQuestionDetails?.mufti?.name }}
      </p>
    </div>
    <div class="col">
      <label for="exampleInputEmail1" class="form-label">Verified By</label>
      <p>
        {{ userQuestionDetails?.verifier?.name }}
      </p>
    </div>
  </div>
</div>
