.bg-pending {
  background-color: orangered;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
}

p,
label {
  font-family: "Mulish";
}
p {
  font-size: small;
}
label {
  border-bottom: 1px groove #f3f3f3;
}
