<div class="main-container">
  <div
    class="
      d-flex
      justify-content-center justify-content-lg-end
      align-items-center
      px-lg-5
      mx-lg-5
    "
  >
    <div
      class="box-wrapper p-4 shadow d-flex flex-column justify-content-center"
    >
      <h5 class="text-center text-white">Login</h5>
      <div class="input-group flex-nowrap my-3 shadow">
        <span
          class="input-group-text bg-white border-end-0"
          id="addon-wrapping"
        >
          <i class="fa fa-user" aria-hidden="true"></i>
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Email id or Mobile number"
          aria-label="Username"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div class="">
        <button
          type="button"
          class="
            btn btn-outline-white
            border
            shadow-sm
            d-flex
            justify-content-center
            w-100
            bg-white
            mb-2
            shadow
          "
        >
          <img src="/assets/Images/Google__G__Logo.svg" />
          <span class="ps-3">Continue with Google</span>
        </button>
        <button
          type="button"
          class="
            btn btn-outline-white
            border
            shadow-sm
            d-flex
            justify-content-center
            w-100
            fb-bg-color
            shadow
            border-0
          "
        >
          <i
            class="fa fa-facebook-square text-white"
            aria-hidden="true"
            style="font-size: x-large"
          ></i>
          <span class="ps-3 text-white">Continue with Facebook</span>
        </button>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="list-group-item border-0 p-0 m-0 bg-color">
            <input
              class="form-check-input me-1"
              type="checkbox"
              value=""
              aria-label="..."
            />
            <span class=""> Remember me </span>
          </div>
        </div>
        <div class="col-md-6">
          <span class="">Forgot password?</span>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-success w-50 fw-bold shadow">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
