@import "/src/styles.scss";
.main-container {
  // padding: 3.58em 3.58em 0 3.58em;
  background-image: url("../../../assets/Images/login_bg.jpg");
  height: 100vh;
  display: flex;
  justify-content: end;
}

.box-wrapper {
  min-width: 450px;
  height: 620px;
  border-radius: 15px;
  background-color: #fff;
  align-self: center;
  margin-right: 4em;
}

.bg-color {
  //   background-color: #367887;
}
.fb-bg-color {
  background-color: #0356bc;
}

.box-wrapper div {
  // margin-top: 0.8em;
}
.sub-container {
  display: flex;
  justify-content: flex-end;
}

.noProfilePic {
  background-color: #689f38;
  color: #fff;
  width: 50px;
  height: 40px;
  border-radius: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0.5em 0;
}

@media only screen and (max-device-width: 480px) {
  .box-wrapper {
    min-width: auto;
    min-height: auto;
  }
  .social-media-wrapper {
    min-width: none;
  }
  .main-container {
    padding: 1em;
  }

  .sub-container {
    display: unset;
  }
}
@media only screen and (device-width: 768px) {
  .main-container {
  }
  .box-wrapper {
  }
  .sub-container {
    display: unset;
  }
  .main-container {
    padding: 2em;
  }
}

.google-img {
  width: 20px;
}

.fb-img {
  width: 100px;
  height: 35px;
}

.theme-bg-pc {
  background-color: $theme-primary-color;
  color: #fff;
}

.fs-c-14 {
  font-size: $theme-f1;
}

.cursor {
  cursor: $theme-pointer;
}

input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #e7e7e7;
  padding-bottom: 5px;
}
input:focus {
  border-width: 0 0 1px;
  border-color: #bebebe;
}

.RuleWithText:after,
.RuleWithText:before {
  content: "";
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid #eaeaea;
}

.RuleWithText {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #4b4b4b;
  font-size: 17px;
  font-weight: 300;
  line-height: 23px;
}

a {
  text-decoration: none;
  font-size: small;
}

a:hover {
  text-decoration: underline;
}

.social-media-wrapper {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
