<div class="main-container">
  <div class="sub-container">
    <div class="box-wrapper p-4 shadow d-flex flex-column">
      <div class="my-4">
        <h3 class="">Sign in</h3>
      </div>

      <div *ngIf="!userDetails">
        <div class="input-group flex-nowrap mt-3">
          <input
            type="text"
            class="fs-c-14 w-100"
            placeholder="Email or Phone number"
            aria-label="Username"
            aria-describedby="addon-wrapping"
            [(ngModel)]="email"
          />
        </div>
        <div class="row my-5">
          <div class="col">
            <a href="#" class="">Forgot password?</a>
          </div>
          <div class="col text-right">
            <button
              class="btn btn-sm btn-primary rounded-pill px-3"
              [disabled]="!email"
              (click)="getEmailValidate()"
            >
              Continue
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="userDetails">
        <div class="input-group flex-nowrap mt-3">
          <span *ngIf="userDetails?.data.profile_pic" class="pe-2">
            <img
              [src]="userDetails?.data.profile_pic"
              alt=""
              srcset=""
              style="width: 50px; height: 50px; border-radius: 100%"
            />
          </span>
          <input
            type="text"
            class="fs-c-14 w-100"
            placeholder="Password"
            aria-label="Username"
            aria-describedby="addon-wrapping"
            [(ngModel)]="pasword"
          />
        </div>
        <div class="row my-5">
          <div class="col">
            <a href="#" class="">Forgot password?</a>
          </div>
          <div class="col text-right">
            <button
              class="btn btn-sm btn-primary rounded-pill px-3"
              [disabled]="!pasword"
              (click)="getPasswordValidate()"
            >
              Continue
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="error?.message !== ''">
        <span class="text-danger">{{ error?.message }}</span>
      </div>

      <div class="RuleWithText mt-4 mb-3">
        <span class="fs-c-14"> Or </span>
      </div>
      <div class="social-media-wrapper">
        <div
          class="border shadow-sm w-auto shadow rounded-pill bg-white cursor p-2"
        >
          <div
            class="row py-1 d-flex justify-content-center"
            (click)="signInWithGoogle()"
          >
            <div class="col-auto">
              <img
                src="/assets/Images/Google__G__Logo.svg"
                class="google-img ms-2"
              />
            </div>
            <div class="col-auto">
              <span class="fs-c-14">Continue with Google</span>
            </div>
          </div>
        </div>

        <div
          class="border shadow-sm w-auto shadow mt-2 cursor rounded-pill p-2 fb-bg-color"
        >
          <div
            class="row m-0 py-1 text-white w-100 p-2 rounded-pill d-flex justify-content-center"
          >
            <div class="col-auto">
              <i
                class="fa fa-facebook-square text-white"
                aria-hidden="true"
                style="font-size: large"
              ></i>
            </div>
            <div class="col-auto">
              <span class="fs-c-14">Continue with Facebook</span>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <a routerLink="/"> Back to Home </a>
      </div>
    </div>
  </div>
</div>
