<!-- slider -->
<div class="d-flex justify-content-center">
  <div class="row col-md-11">
    <div class="col-md-8 d-flex flex-column justify-content-center">
      <div class="max-width">
        <h2 class="my-2">Darul Ifta Kauzariyya</h2>
        <h6 class="my-4">
          A site for online fatwas (Islamic queries) running under the
          supervision of Al Jamiathul Kauzariyya Fatwa board to guide humanity
          to authentic rulings of Islam.
        </h6>
        <h5 class="my-4">
          ن َ ُ م َ ْل ع َ َ لا تـ ْ ـم ُ ُن كنت ِ ـر إ ِ ّ ْك ِ َ ٱلذ ْ ـل ه َ
          ٓا أ و ُ ٔـل َ ـ ْ س َ ف
        </h5>

        <div class="btn-wrapper d-flex">
          <span class="custom-question-icon">
            <i class="fa fa-question" aria-hidden="true"></i>
          </span>
          <span class="d-flex align-items-center">
            <span class="custom-btn"> Ask Question </span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img
        src="../../../assets/Images/ifta-logo.svg"
        class="img-thumbnails"
        alt=""
      />
    </div>
  </div>
</div>

<!-- slider End-->
