@import "../../../styles";
img {
  width: 80%;
}
.max-width {
  max-width: 60%;
  text-align: justify;
}

.btn-wrapper {
}

.custom-btn {
  background-color: $theme-primary-color;
  color: #fff;
  position: relative;
  left: -10px;
  padding: 8px 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.custom-question-icon {
  height: 50px;
  width: 50px;
  border: 0.5px solid #e3e3e3;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 100;
}

.custom-question-icon i {
  font-size: xx-large;
  font-weight: 100;
}
