<sidebar></sidebar>
<!-- <router-outlet>
  <div class="container main-wrapper">
    <div class="profile-1 d-flex py-1">
      <div class="col d-flex justify-content-center">
        <div class="profile-img">
          <img
            *ngIf="userDetails?.profile_pic"
            class="profile-img"
            src="{{ userDetails?.profile_pic }}"
            alt=""
            srcset=""
          />
          <span *ngIf="userDetails?.profile_pic">
            <img
              src="../../../../assets/Images/google-logo-9808-32x32.ico"
              alt=""
              srcset=""
            />
          </span>

          <img
            class="profile-img-1"
            src="../../../../assets/Images/Minaret.svg"
            alt=""
            srcset=""
          />
        </div>
      </div>
      <div class="col d-flex align-items-center">
        <div class="">
          <div>
            <h2>{{ userDetails?.name }}</h2>
          </div>
          <div>
            <h6>
              <span *ngIf="userDetails?.phone">
                {{ userDetails?.phone }} -
              </span>
              {{ userDetails?.email }}
            </h6>
          </div>

          <div>
            <h6>{{ userDetails?.address || "No Address - Found" }}</h6>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-end">
        <div class="px-2">
          <div>settings</div>
          <div>sent messages</div>
        </div>
      </div>
    </div>

    <div class="profile-2 row">
      <div class="d-flex justify-content-end fatwa-details">
        <div class="px-2 border text-center">
          <span class="fs-6">Total Fatwas</span>
          <br />
          <span class="fs-6 fw-bold">{{ dashboardDetails?.total }}</span>
        </div>
        <div class="px-2 border text-center">
          <span class="fs-6 fw-bold">{{ dashboardDetails?.answered }}</span>
          <br />
          <span class="fs-6">Answered</span>
        </div>
        <div
          class="px-2 border d-flex justify-content-center align-items-center cursor"
          (click)="gotToask()"
        >
          <span class="text-white fs-4">Ask Fatwas</span>
        </div>
      </div>

      <div class="row py-3 fatwas-counts px-0" *ngIf="!isAsked">
        <div class="col questions" (click)="getQuestionList()">
          My Questions
        </div>
        <div class="col published" (click)="getPulishedQuestions()">
          Published Fatwas
        </div>
        <div class="col pending" (click)="getPendingQuestions()">
          Pending Fatwas
        </div>
        <div class="col rejected" (click)="getRejectedQuestions()">
          Rejected Fatwas
        </div>
      </div>

      

      <div *ngIf="!isAsked">
        <div *ngIf="userQuestionList.length; else noDataFound">
          <div
            class="fatwal-list-wrapper shadow-sm my-4 mb-2 cursor"
            *ngFor="
              let item of userQuestionList
                | paginate: { itemsPerPage: 5, currentPage: q }
            "
          >
            <div [routerLink]="['/user-home/question-details', item.id]">
              <div class="short-q">
                <h5>{{ item?.short_question }}</h5>
              </div>
              <div class="long-q">
                <h6>{{ item?.question }}</h6>
              </div>

              <div class="row author-details px-0 mx-0 roundeded">
                <div class="col-md-1">
                  <h6>
                    Q{{
                      item.id < 100
                        ? "00" + item?.id
                        : item?.id > 100 && item?.id < 1000
                        ? "0" + item?.id
                        : item?.id
                    }}
                  </h6>
                </div>
                <div class="col-md-2">
                  <span
                    [ngClass]="{
                      pending: item?.status?.id == 1,
                      rejected: item.status?.id == 2,
                      recievedToDI: item?.status?.id == 4,
                      assMufthi: item?.status?.id == 5,
                      mufthiAns: item.status?.id == 6,
                      completeVerification: item.status?.id == 7,
                      published: item.status?.id == 8
                    }"
                  >
                    {{
                      item?.status?.title === "Assigned Mufti"
                        ? "Assign Mufti"
                        : item?.status?.title === "Received to Darul Ifta"
                        ? "Received - Ifta"
                        : item?.status?.title
                    }}
                  </span>
                </div>
                <div class="col-md-4">
                  <h6>W By : {{ item?.mufti?.display_title || "N.A" }}</h6>
                </div>

                <div class="col-md-2">
                  <h6>{{ item?.madhab?.title }}</h6>
                </div>
                <div class="col-md-1">
                  <h6>{{ item?.language?.title }}</h6>
                </div>
                <div class="col-md-2">
                  <h6>{{ item?.updatedAt | date: "dd-MM-yyyy" }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="d-flex justify-content-end cust-container pagination-container my-4"
          *ngIf="userQuestionList?.length > 10"
        >
          <pagination-controls (pageChange)="q = $event"></pagination-controls>
        </div>
      </div>

      <ng-template #noDataFound>
        <div class="text-dark ps-3 pt-2 d-flex justify-content-center">
          No Data Available
        </div>
      </ng-template>
    </div>
  </div>
</router-outlet> -->
