<sidebar></sidebar>

<!-- <div class="container main-wrapper">
  <div class="profile-1 d-flex py-5">
    <div class="col d-flex justify-content-center">
      <div class="profile-img">
        <img
          class="profile-img"
          src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Maulana_Tariq_Jamil.png"
          alt=""
          srcset=""
        />
        <span>
          <img
            src="../../../../assets/Images/google-logo-9808-32x32.ico"
            alt=""
            srcset=""
          />
        </span>
      </div>
    </div>
    <div class="col d-flex align-items-center">
      <div class="">
        <div>
          <h2>NAME</h2>
        </div>
        <div>
          <h6>Mobile - Email</h6>
        </div>

        <div>
          <h6>Place</h6>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
      <div class="px-2">
        <div>settings</div>
        <div>sent messages</div>
      </div>
    </div>
  </div>

  <div class="profile-2 row">
    <div class="d-flex justify-content-end fatwa-details">
      <div class="px-2 border text-center">
        <span class="fs-6">Total Asked Fatwas</span>
        <br />
        <span class="fs-6 fw-bold">31</span>
      </div>
      <div class="px-2 border text-center">
        <span class="fs-6 fw-bold">31</span>
        <br />
        <span class="fs-6">Answered</span>
      </div>
      <div class="px-2 border d-flex justify-content-center align-items-center">
        <span class="text-white fs-4">Ask Fatwas</span>
      </div>
    </div>
    <div class="row py-3 fatwas-counts px-0">
      <div class="col"><span>My Questions</span></div>
      <div class="col"><span>Published Fatwas</span></div>
      <div class="col"><span>Pending Works</span></div>
      <div class="col"><span>Rejected Works</span></div>
    </div>

    <div>
      <div class="fatwal-list-wrapper shadow-sm my-4 mb-2 cursor">
        <div>
          <div class="short-q">
            <h5>short_question</h5>
          </div>
          <div class="long-q">
            <h6>question</h6>
          </div>
          <div class="row author-details px-0 mx-0 roundeded">
            <div class="col-md-1">
              <h6>Q100</h6>
            </div>
            <div class="col-md-6">
              <h6>W By : display_title</h6>
            </div>

            <div class="col-md-3">
              <h6>Date :21-12-2021</h6>
            </div>
            <div class="col-md-2">
              <h6>Views : 23-12-2021</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
