@import "/src/styles.scss";

.main-wrapper {
    display: flex;
    flex-direction: column;
}
.profile-1 {
    
}
.profile-img span img {
    position: relative;
    left: -120px;
    bottom: -100px;
    background-color: #fff;
    border-radius: 100%;
    padding: 0.1em;
}
.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.fatwa-details div {
    height: 50px;
    vertical-align: middle;
}

.fatwa-details div span {
    
}

.fatwa-details div:nth-child(2) {
    
    width: 200px;
}

.fatwa-details div:nth-child(1) {
 width: 250px;
}
.fatwa-details div:nth-child(3) {
    
    background-color: #10a3fe;
    width: 400px;
    text-align: center;
    vertical-align: middle;
}

.profile-2  {
}

.fatwas-counts div span{
    // color: #fff;
    font-weight: 500;
}
.fatwas-counts div {
    
    padding: 0.5em 0;
    text-align: center;
    margin: 0 5px;
    border-radius: 8px;
    border: 1px solid #c6c6c6;
}

// Fatwa List Wrapper


.short-q,
.long-q,
.author-details {
}

.short-q {
  background-color: $theme-primary-color;
  padding: 0.7em 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
}

.long-q {
  color: $theme-primary-color;
  padding: 1.5em 1.2em;
}

.author-details {
  border-top: 4px solid $theme-primary-color;
  padding-left: 1.2em;
}

.author-details div:first-child h6 {
  background-color: $theme-primary-color;
  padding: 7px  15px;
  color: #fff;
  border-radius: 5px;
  margin: 0.8em 0;
}

.author-details div {
  display: flex;
  justify-content: center;
  align-items: center;
}