<div>
  <div class="fatwal-list-wrapper shadow my-4" *ngFor="let item of data">
    <div class="short-q">
      <h5>{{ item.shortQ }}</h5>
    </div>
    <div class="long-q">
      <h6>{{ item.longQ }}</h6>
    </div>
    <div class="row author-details px-0 mx-0">
      <div class="col-md-1">
        <h6>{{ item.qid }}</h6>
      </div>
      <div class="col-md-5">
        <h6>Written By : mufthi name</h6>
      </div>
      <div class="col-md-3">
        <h6>Date : 10-10-2021</h6>
      </div>
      <div class="col-md-3">
        <h6>Views : 100</h6>
      </div>
    </div>
  </div>
</div>
