@import "/src/styles.scss";

.fatwal-list-wrapper {
}

.short-q,
.long-q,
.author-details {
}

.short-q {
  background-color: $theme-primary-color;
  padding: 0.7em 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
}

.long-q {
  color: $theme-primary-color;
  padding: 1.5em 1.2em;
}

.author-details {
  border-top: 4px solid $theme-primary-color;
  padding-left: 1.2em;
}

.author-details div:first-child h6 {
  background-color: $theme-primary-color;
  padding: 10px;
  color: #fff;
}

.author-details div {
  display: flex;
  justify-content: center;
  align-items: center;
}
