.img-logo {
  min-width: 300px;
}

.min-height {
  max-height: 25px !important;
}

.custom-menu {
  border: 0;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 1px #727272;
  margin: 0px 10px;
  font-weight: 500;
  color: #5e8399 !important;
}
.custom-menu a {
  height: 30px !important;
}

.nav-link {
  //   padding: 0 !important;
}
