.navbar-log-wrapper .img-logo {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-log-wrapper {
  display: flex;
  justify-content: center;
}
.min-height {
  max-height: 25px !important;
}

.custom-menu {
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px #cacaca;
  margin: 0px 10px;
  font-weight: 500;
  color: #5e8399 !important;
}
.custom-menu a {
  height: 30px !important;
}

ul li {
  cursor: pointer;
}

ul li a {
  font-size: small;
}

form .custom-menu {
  font-size: smaller !important;
}

@media only screen and (max-width: 480px) {
  .navbar-container ::ng-deep .nav-item {
    margin-top: 8px;
  }

  .navbar-container ::ng-deep .nav-item a {
    padding-left: 5px;
  }

  .search-nav {
    margin: 10px 0 4px 0;
  }

  .navbar-wrapper .nav-item .custom-menu {
    box-shadow: 0px 0px 0px 0px #cacaca;
    padding: 10px;
    border-bottom: 1px groove #fefefe;
    border-radius: 0px;
  }

  .img-logo {
    margin-left: auto;
    margin-right: auto;
  }
  // .navbar-wrapper {
  //   border-bottom: 1px solid green;
  // }
}
@media only screen and (device-width: 768px) {
  .navbar-container {
  }
}
