<!-- <div class="" *ngIf="router.url != '/login'">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid navbar-container">
      <div class="col-md-4 d-flex justify-content-center">
        <a class="navbar-brand" routerLink="/">
          <img
            class="img-thumnails img-logo"
            src="../../../assets/Images/logo-main-logo-blue.svg"
            alt=""
          />
        </a>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="isShown = !isShown"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse justify-content-end navbar-collapse"
        id="navbarTogglerDemo03"
        [ngClass]="{ show: isShown }"
      >
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active custom-menu"
              aria-current="page"
              routerLink=""
              ><i
                class="fa fa-home px-1"
                aria-hidden="true"
                style="font-size: larger"
              ></i>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link custom-menu"
              aria-current="page"
              routerLink="user-home"
              >Ask Question</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link custom-menu"
              aria-current="page"
              routerLink="fatwas"
              >Fatwa</a
            >
          </li>

          <form class="d-flex search-nav">
            <input
              class="form-control custom-menu"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-sm border custom-menu px-2" type="button">
              <i
                class="fa fa-search px-1"
                aria-hidden="true"
                style="font-size: larger"
              ></i>
            </button>
          </form>

          <li
            class="btn-group nav-item"
            dropdown
            #dropdown="bs-dropdown"
            [autoClose]="false"
          ></li>
        </ul>
      </div>
    </div>
  </nav>
</div> -->

<div class="container" *ngIf="url !== '/login'">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light navbar-wrapper-main"
  >
    <div class="col-md-4 col-lg-4 col-xs-5 navbar-log-wrapper">
      <a class="navbar-brand" routerLink="/">
        <img
          class="img-thumnails img-logo"
          src="../../../assets/Images/logo-main-logo-blue.svg"
          alt=""
        />
      </a>
    </div>
    <button
      class="navbar-toggler me-2"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor03"
      aria-controls="navbarColor03"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse navbar-wrapper"
      id="navbarColor03"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item" (click)="navigate('/')">
          <a class="nav-link active custom-menu" aria-current="page"
            ><i
              class="fa fa-home px-1"
              aria-hidden="true"
              style="font-size: larger"
            ></i>
          </a>
        </li>
        <li class="nav-item" (click)="navigate('user-home')">
          <a class="nav-link custom-menu" aria-current="page">Ask Question</a>
        </li>

        <li class="nav-item" (click)="navigate('/fatwas')">
          <a class="nav-link custom-menu" aria-current="page">Fatwa</a>
        </li>

        <li class="nav-item">
          <form class="d-flex search-nav">
            <input
              class="form-control custom-menu"
              type="search"
              placeholder="Search"
              aria-label="Search"
              [(ngModel)]="searchKey"
              [ngModelOptions]="{ standalone: true }"
            />

            <button
              class="btn btn-sm border custom-menu px-2"
              type="button"
              (click)="searchFatwas()"
            >
              <i
                class="fa fa-search px-1"
                aria-hidden="true"
                style="font-size: larger"
              ></i>
            </button>
          </form>
        </li>

        <li
          class="btn-group nav-item"
          dropdown
          #dropdown="bs-dropdown"
          [autoClose]="false"
        >
          <div
            *ngIf="isLogged"
            class="d-flex justify-content-center align-items-center profile"
            (click)="handleProfile()"
          >
            <img src="{{ loginDetails?.profile_pic }}" alt="" srcset="" />
          </div>

          <div
            *ngIf="!isLogged"
            class="d-flex justify-content-center align-items-center custom-menu px-3"
            (click)="handleProfile()"
          >
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
