<div
  *ngIf="
    router.url != '/login' &&
    router.url != '/user-home' &&
    router.url != '/user-home/question-details/' &&
    router.url != '/user-home/ask-fatwas'
  "
>
  <div class="row footer-container px-0 mx-0">
    <div
      class="col-md-4 logo-section d-flex flex-column align-items-md-center align-items-lg-center align-items-xl-center"
    >
      <div class="">
        <img src="/assets/Images/logo-main-logo.svg" alt="" class="logo-img" />
        <div class="hr-bar"></div>
      </div>
      <div>
        <p class="img-logo-desc">
          DARUL IFTA - AL JAMIATHUL KAUZARIYYA <br />
          Al Jamiathul Kauzariyya Arabic College,<br />
          Edathala, Aluva, Kerala 683561 <br />
          Email :- contact@daruliftakauzariyya.com
        </p>
      </div>
    </div>

    <div
      class="col-md-5 d-flex flex-column align-items-md-center align-items-lg-center align-items-xl-center justify-content-center"
    >
      <div class="useful-links">
        <h4 class="fw-bold">Useful Links</h4>
        <div class="hr-bar"></div>
        <ul>
          <li routerLink="about-us">About Us</li>
          <li routerLink="contact-us">Contact Us</li>
          <!-- <li routerLink="contact-us">Articles</li> -->
          <li routerLink="rules-regulations">Rules & Regulations</li>
          <li routerLink="privacy-policy">Privacy Policy</li>
          <li routerLink="terms-conditions">Terms and Conditions</li>
        </ul>
      </div>
    </div>

    <div
      class="col-md-3 app-social-media-section d-flex flex-column justify-content-center"
    >
      <div class="app-store row">
        <div class="">
          <h5 class="fw-bold">Mobile App</h5>
          <div>
            <a
              href="https://play.google.com/store/apps/details?id=com.darulifta.kauzariyya"
              target="_blank"
            >
              <img src="/assets/Images/google_play_stor-icon.svg" alt="" />
            </a>

            <!-- <img src="/assets/Images/app_store-icon.svg" alt="" /> -->
          </div>
        </div>
      </div>
      <div class="social-media my-4 row">
        <h4 class="fw-bold">Follow Us</h4>
        <div class="">
          <img src="/assets/Images/fb-icon.svg" alt="" />
          <img src="/assets/Images/insta-icon.svg" alt="" />
          <img src="/assets/Images/twiter-icon.svg" alt="" />
          <img src="/assets/Images/whatsapp-icon.svg" alt="" />
          <img src="/assets/Images/youtube-icon.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="identity px-0">
    <span>
      © 2022 DARUL IFTA KAUZARIYYA. All Rights Reserved. Designed & Developed
      with ❤️ WEB BRANDING INFO SOLUTIONS
    </span>
  </div>
</div>
