<div>
  <div class="row footer-container px-0 mx-0">
    <div
      class="
        col-md-4
        logo-section
        d-flex
        flex-column
        align-items-md-center align-items-lg-center align-items-xl-center
      "
    >
      <div class="">
        <img src="/assets/Images/logo-main-logo.svg" alt="" class="logo-img" />
        <div class="hr-bar"></div>
      </div>
      <div>
        <p class="img-logo-desc">
          DARUL IFTA - AL JAMIATHUL KAUZARIYYA <br />
          Al Jamiathul Kauzariyya Arabic College,<br />
          Edathala, Aluva, Kerala 683561 <br />
          Email :- contact@daruliftakauzariyya.com
        </p>
      </div>
    </div>

    <div
      class="
        col-md-4
        d-flex
        flex-column
        align-items-md-center align-items-lg-center align-items-xl-center
      "
    >
      <div class="useful-links">
        <h4 class="">Useful Links</h4>
        <div class="hr-bar"></div>
        <ul>
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Rules & Regulations</li>
          <li>Privacy Policy</li>
          <li>Terms and Conditions</li>
        </ul>
      </div>
    </div>

    <div
      class="
        col-md-4
        app-social-media-section
        d-flex
        flex-column
        align-items-md-center align-items-lg-center align-items-xl-center
      "
    >
      <div class="app-store">
        <div>
          <h6>Mobile App</h6>
          <div>
            <img src="/assets/Images/google_play_stor-icon.svg" alt="" />
            <img src="/assets/Images/app_store-icon.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="social-media my-4">
        <h4>Follow Us</h4>
        <div class="">
          <img src="/assets/Images/fb-icon.svg" alt="" />
          <img src="/assets/Images/insta-icon.svg" alt="" />
          <img src="/assets/Images/twiter-icon.svg" alt="" />
          <img src="/assets/Images/whatsapp-icon.svg" alt="" />
          <img src="/assets/Images/youtube-icon.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="identity px-0">
    <span>
      © 2019 DARUL IFTA KAUZARIYYA. All Rights Reserved. Designed & Developed by
      @company_name
    </span>
  </div>
</div>
