/* You can add global styles to this file, and also import other style files */

$theme-primary-color: #235775;
$theme-secondary-color: #5e8399;
$theme-green: #409ea1;
$theme-l-green: #a3d5d6;
$theme-1-grey: #99b0bc;
$theme-f1: 15px;
$theme-f2: 17px;
$theme-f3: 19px;
$theme-f4: 21px;
$theme-f5: 23px;
$theme-f6: 25px;
$theme-f14: 14px;
$theme-br-sm-1: 5px;
$theme-br-sm-2: 8px;
$theme-br-sm-3: 10px;
$theme-br-sm-4: 12px;
$theme-br-sm-5: 14px;
$theme-br-lg-1: 30px;
$theme-pointer: pointer;

.bg-theme-grey {
  background-color: $theme-1-grey !important;
}

.warning-status,
.success-status,
.rejected-status {
  background-color: #ffc107;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.success-status {
  background-color: #198754;
}
.rejected-status {
  background-color: #dc3545;
}

// Arabic
@font-face {
  font-family: "Amiri";
  src: local("Amiri"),
    url(./assets/fonts/arabic/Amiri-Regular.ttf) format("truetype");
}
// English
@font-face {
  font-family: "Baloo";
  src: local("Baloo"),
    url(./assets/fonts/englesh/homePage/baloo.regular.ttf) format("truetype");
}
@font-face {
  font-family: "Marcellus";
  src: local("Marcellus"),
    url(./assets/fonts/englesh/Marcellus-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Mulish";
  src: local("Mulish"),
    url(./assets/fonts/englesh/Mulish-Bold.ttf) format("truetype");
}
// Malayalam
@font-face {
  font-family: "Gayatri";
  src: local("Gayatri"),
    url(./assets/fonts/malayalam/Gayathri-Bold.ttf) format("truetype");
}
// URdu
@font-face {
  font-family: "Jameela";
  src: local("Jameela"),
    url(./assets/fonts/urdu/JameelNooriNastaleeqRegular.ttf) format("truetype");
}

.text-right {
  text-align: right !important;
}
